@model Kickit.Models.Invitor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css"/>
    <title>KickIt</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>KickIt</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h1 class="text-center">Who would you like to KickIt with?</h1>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control", @placeholder = "Your Name" })
                            @Html.ValidationMessageFor(m => m.FromName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", @placeholder = "Your Email" })
                            @Html.ValidationMessageFor(m => m.FromEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReceiverName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ReceiverName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(m => m.ReceiverName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReceiverEmail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ReceiverEmail, new { @class = "form-control", @placeholder = "Their Email" })
                            @Html.ValidationMessageFor(m => m.ReceiverEmail)
                        </div>
                    </div>
                    <div>
                        <p class="text-center">What days and time you are available?(Next week)</p>
                    </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateTime1, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.DateTime1, new { @class = "form-control", @placeholder = "Example: mm/dd/yy / 5:00pm" })

                            @Html.ValidationMessageFor(m => m.DateTime1)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateTime2, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.DateTime2, new { @class = "form-control", @placeholder = "Example: mm/dd/yy / 5:00pm" })

                            @Html.ValidationMessageFor(m => m.DateTime2)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateTime3, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.DateTime3, new { @class = "form-control", @placeholder = "Example: mm/dd/yy / 5:00pm"})

                            @Html.ValidationMessageFor(m => m.DateTime3)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-center">
                            <input type="submit" class="btn btn-danger btn-lg" value="Let's KickIt" />
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</body>
</html>

